body{
    margin: 0px;
    line-height: 8px;
}
h1{
    color:#273b55;
    font-weight: 600;
    font-size: 3rem;
    opacity: 1;
    
}
h2,p{
    color:#273b55;
    font-weight: 500;
    opacity: 1;
    
}
h3{
    color:#273b55;
    font-weight: 600;
    opacity: 1;
 
}
main{
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
    display: flex;
    align-items: center;
   justify-content:center;
}
.glass{
    background: white;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(to right bottom,rgba(255,255,255,0.1),rgba(255,255,255,0.5) );
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(1rem);
    display: flex;
}
.circle1,.circle2{
    background: white;
    background: linear-gradient(to right bottom,rgba(255,255,255,0.7),rgba(255,255,255,0.2) );
    height: 10rem;
    width: 10rem;
    position: absolute;
    border-radius: 50%;
   
}
.circle1{
    top: 1%;
    left: 74%;
   
}
.circle2{
    top: 75%;
    left: 15%;
}
.dashboard{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(to right bottom,rgba(255,255,255,0.1),rgba(255,255,255,0.5) );
    border-radius: 2rem;
}
.link{
    display: flex;
    margin: 0rem 0rem;
    padding: 1rem 5rem;
    text-align: center;
}
.link h2{
    margin: 10px 20px;
    
}
.link img{
    width: 30px;
    height: 30px;
}
.user{
    margin-top: -10px;
}
.user img{
    width: 85px;
}
.pro{
    background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
    color: white;
    border-radius: 2rem;
    padding: 10px;
    position: relative;
    width: 180px;
    height: 100px;
}
.pro img{
    position: absolute;
    top:10%;
    height: 75px;
    left: 60%;
    margin-top: 13px;
}
.pro h2{
   font-size: 17px;
   width: 40%;
   color: #426696;
   font-weight: 600;
   line-height: 16px;
   margin-top: 30px;
}


/*GAMES*/
.games{
    flex:2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 3rem;
   
}
.cards{
    margin-top: 50px;
}
.card{
    display: flex;
    background: linear-gradient(to right top,rgba(255,255,255,0.1),rgba(255,255,255,0.7));
    border-radius: 8px;
    margin: 1rem 0rem;
    padding: 7px;
    box-shadow: 2px 2px 10px;
    justify-content: space-between;
    
}
.card-info{
    display: flex;
    flex-direction: column;
    line-height: 5px;
    width:200px;
}
.progress1{
    background: linear-gradient(to right bottom,rgba(255,255,255,0.1),rgba(255,255,255,1) );
    width: 100%;
    height: 14%;
    border-radius: 8px;
    box-shadow: 2px 2px 10px;
    position: relative;
    overflow: hidden;
    
}
.progress1::after{
content: "";
width: 100%;
height: 100%;
background: rgb(236,236,236);
position: absolute;
left: 80%;
border-radius: 8px;
border-top-left-radius:0px ;  
}
.progress2{
    background: linear-gradient(to right bottom,rgba(255,255,255,0.1),rgba(255,255,255,1) );
    width: 100%;
    height: 14%;
    border-radius: 8px;
    position: relative;
    box-shadow: 2px 2px 10px;
    overflow: hidden;
    
}
.progress2::after{
content: "";
width: 100%;
height: 100%;
background: rgb(236,236,236);
position: absolute;
left: 40%;
border-radius: 8px;
border-top-left-radius:0px ;  
}
.progress3{
    background: linear-gradient(to right bottom,rgba(255,255,255,0.1),rgba(255,255,255,1) );
    width: 100%;
    height: 14%;
    border-radius: 8px;
    box-shadow: 2px 2px 10px;
    position: relative;
    overflow: hidden;
    
}
.progress3::after{
content: "";
width: 100%;
height: 100%;
background: rgb(236,236,236);
position: absolute;
left: 60%;
border-radius: 8px;
border-top-left-radius:0px ;  
}
.status{
    position: absolute;
   top:0%

}
.percentage{
    font-weight:lighter;
}